.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

    .header-navigation {
        display: flex;
        justify-content: center;
        width: 50%;

        .logo-image {
            width: 35px;
            height: auto;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;

            .list {
                display: flex;
                list-style: none;
                margin-left: 20px;
                font-size: 0.7rem;
                
                li {
                    display: flex;
                    padding: 0 14px;
                    color: #333;

                    .icon {
                        margin-left: 6px;
                    }
                }
            }
        }
    }

    .header-login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        background: linear-gradient(221deg, #EB3850 14.43%, #CB162E 85.28%);
        color: #FFF;

        h2 {
            margin-right: 6px;
            font-size: 1.2rem;
        }
    }
}